html {
  background: url(/img/pokemon.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navball-row {
  /* float: left; */

  position: absolute;
  left: 150px;
  bottom: 0px;
  z-index: 1000;
   /* background: url("/img/pokeball.png") */
  /* background-color: #92AD40; */
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;

}

#navball-row .input {
  height: fit-content;
  margin: auto 0 ;
}
#pokemon-sprite {
  position: absolute ;
  margin: 0 auto ;
  width: 50% ;
}
#sprite-mask {
  position: absolute ;
  margin: 0 auto ;
  width: 50%;
  background-color: #000000;
}
h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
